<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>LibreriaApp | Listado de Libros</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>
  
    <header th:insert="fragments/menu :: menu-principal"></header>  

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Libros</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/books/create}" title="Crear nuevo Libro" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Autor</th>
                  <th scope="col">ISBN</th>                  
                  <th scope="col">Fecha Pubublicacion</th> 
                  <th scope="col">Precio</th>
                  <th scope="col">Destacada</th>
                  <th scope="col">Editorial</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="book : ${books}">
                  <td th:text="${book.title}"></td>
                  <td th:text="${book.author}"></td>
                  <td th:text="${book.ISBN}"></td>                  
                  <td th:text="${book.publishedDate}"></td> 
                  <td th:text="${book.price}"></td>
                  <td th:text="${book.destacado==1 ? 'SI' : 'NO' }"></td>
                  <td th:text="${book.editorial.name}"></td>
                  <td>
                    <a th:href="@{/books/edit/{id} (id=${book.id})}" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/books/delete/{id} (id=${book.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>                                              
              </tbody>
            </table>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>