<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del libro</strong></h4>              
          <div class="card-body">
            <form th:action="@{/books/save}" method="post" th:object="${book}">  
             
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>	
                       
              <div class="row">
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" class="form-control" th:field="*{title}" id="title" name="title" placeholder="Titulo del libro" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="ISBN">ISBN</label>
                    <input type="text" class="form-control" th:field="*{ISBN}" id="ISBN" name="ISBN" placeholder="ISBN del libro" required="required">
                  </div> 
                </div>    
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="publishedDate">Fecha de publicacion</label>
                    <input type="text" class="form-control" th:field="*{publishedDate}" id="publishedDate" name="publishedDate" placeholder="Fecha de publicacion" required="required">
                  </div> 
                </div>   
                 <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="author">Autor</label>
                    <input type="text" class="form-control" th:field="*{author}" id="author" name="author" placeholder="Autor del libro" required="required">
                  </div> 
                </div>  
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="text" class="form-control" th:field="*{price}" id="price" name="price" placeholder="Precio del libro" required="required">
                  </div> 
                </div>  
                
                 <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="editorial">Editorial</label>
                    <input type="text" class="form-control" th:field="*{editorial}" id="editorial" name="editorial" placeholder="Editorial del libro" required="required">
                  </div> 
                </div>  
                
                 
                
              </div>   
             <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                  </div>
                </div>
             
             
              <div class="col-md-9"> 
                  <div class="form-check">
                    <label class="form-check-label" for="destacado0"></label><br>
                    <input class="form-check-input" type="radio" th:field="*{destacado}" name="destacado" id="destacado" value="1" checked="checked">
                    <label class="form-check-label" for="destacado1">Destacado</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{destacado}" name="destacado" id="destacado" value="0">
                    <label class="form-check-label" for="destacado2">No Destacado</label>
                  </div>
                </div>
                 <hr><hr>
               <div class="row">
                <div class="col-md-3">
                  <label for="imagen">Imagen/Logo</label>
                  <img class="rounded mx-auto d-block" src="images/construccion-logo.png" alt="Generic placeholder image" width="200" height="200">            
                </div>
              </div> 
                <button type="submit" class="btn btn-primary">Guardar</button>  
                </form>
              </div>    
              
              </div>  
           
          </div>
        
       <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );

      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
    </script>
  </body>
</html>